main {
    padding: 1rem;
}
/* Button that typically holds an icon and performs contextual actions. */
.circle-button {
    appearance: none;
    aspect-ratio: 1 / 1;
    background: transparent;
    border: none;
    border-radius: 50%;
    color: var(--text-color);
    padding: 8px;
    &:hover {
        background: var(--raised-background-color);
        box-shadow: var(--raised-box-shadow);
    }
    &:focus-visible {
        background: var(--raised-background-color);
        outline: var(--focus-visible-outline);
    }
}
