@layer components {
    hover-tooltip {
        background: var(--raised-background-color);
        border-radius: .5em;
        box-shadow: var(--floating-box-shadow);
        padding: .5em;
        position: absolute;
        pointer-events: none;
        user-select: none;
    }
}
