@layer components {
    .mask-icon {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: 24px;
        background: currentColor;
        /* mask property set by application code */
    }
}
